@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

:root {
    --tFont: "Licorice", cursive;
    --tSize: 100px;
}

* {
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
}

header {
    font-family: var(--tFont);
    font-size: var(--tSize);
    text-align: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-images {
    display: flex;
    animation: slide 10s infinite linear;
}

.carousel-images img {
    width: 10%;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%); 
    }
}
