@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

:root {
    --tFont: "Licorice", cursive;
    --tSize: 2.5rem; /* Adjusted to be responsive */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('assets/Background-border.jpg') no-repeat center center;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%; /* Adjust this value to control the width of the centered content */
    max-width: 1200px; /* Or any max-width that fits your design */
    margin: 2rem auto; /* This adds some space at the top and bottom of the content */
    text-align: center; /* Center text elements */
    position: relative;
    z-index: 2; /* Ensure content is above the background */
}

header {
    font-family: var(--tFont);
    font-size: var(--tSize);
    margin-bottom: 2.5rem; /* Space below the header */
}

.catalog-imgs img {
    width: 30%; /* Adjust the width of images as necessary */
    margin: 0.5rem; /* Space around images */
    vertical-align: middle; /* Align images nicely inline */
}

footer {
    margin-top: 1rem; /* Space above the footer */
}

@media (max-width: 768px) {
    .catalog-imgs img {
        width: 45%; /* Larger width for smaller screens */
    }
}

@media (max-width: 480px) {
    .catalog-imgs img {
        width: 90%; /* Full width for very small screens */
    }
}
