@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

:root {
    --tFont: "Licorice", cursive;
    --tSize: 5.5rem; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-family: var(--tFont);
    font-size: var(--tSize);
    margin-bottom: 0.5rem;
    text-align: center; 
    margin-top: -20px;
}

.catalog-imgs {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.catalog-imgs img {
    width: auto; 
    height: auto; 
    max-width: calc(33.333% - 40px); 
    margin: 10px; 
}


@media (max-width: 768px) {
    .catalog-imgs {
        flex-direction: column; 
        align-items: center; 
    }

    .catalog-imgs img {
        width: 100%; 
        max-width: none; 
        margin: 50px 30px; 
    }
}

.catalog-imgs img {
    transition: transform 0.3s ease-in-out; 
}

.catalog-imgs img:hover {
    transform: translateY(-10px); 
}


footer {
    margin-top: 1rem; 
   
}
