*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid pink;
    background-color: pink;
    transform: translateY(0%);
    animation: bounce 2s infinite;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0%{
        background-color: pink;
        transform: translateY(0%);
    }
    50%{
        background-color: aqua;
        transform: translateY(50%);
    }
    68.9%{
        background-color: aqua;
        transform: translateY(68.9%);
    }
    70%{
        background-color: pink;
        transform: translateY(70%);
    }
    
}