@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


body {
    font-family: 'Dosis', sans-serif;
}

header ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
}

header ul li {
    margin: 0 20px;
}