@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --font: "IBM Plex Mono", monospace;
    --color: yellow;
}

body{
    font-family: var(--font);
}

.comments-container {
    max-width: 600px;
    margin: 20px auto;
    font-family: var(--font);
  }
  
  .comment-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .comment-card h1::before,
  .comment-card h1::after {
    content: '💬'; 
    margin: 0 5px;
  }

  .comment-card h3::before,
  .comment-card h3::after{
    content: '⏰';
    margin: 0 5px;
  }
  
  .comment-card p::first-letter {
    font-size: 200%;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    line-height: 1;
  }
  
  .comment-card p::selection {
    background-color: var(--color);
    color: black;
  }
  