@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: 'Dosis', sans-serif;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0 10px;
}

.recipes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.veg-recipes, .non-veg-recipes {
    flex-basis: 48%;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table th {
    background-color: grey;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
}
