@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html 
{
    font-family: "Dosis", sans-serif;
}
nav 
{
    display: flex;
    justify-content: flex-end;
}