:root{
    --padding: 20px 10px;
}

*{
    box-sizing: border-box;
}

img{
    height: 45vh;
    width:  30vw;
    padding: var(--padding);
}

.image-div{
    display: flex;
    margin: 10px 10px;
    padding: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
    img {
        height: 35vh;
        width: 50vw; 
    }
    .image-div {
        flex-direction: column; 
        margin: 40px;
        padding: 40px;
    }
}


/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
   
}

/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
}


/* Small laptops ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    
}

/* Desktops ----------- */
@media only screen and (min-device-width: 1366px) {
    
}

/* Large screens ----------- */
@media only screen and (min-device-width: 1920px) {
    /* Styles */
}
